openapi: 3.2.0
info:
  title: AlphaSense Utility Search API
  description: AlphaSense's GraphQL-fronted Utility APIs covering Search, Companies, Brokers, Watchlist, Trends, User, Download / Export, and the REST Ingestion API used by Enterprise Intelligence customers. All GraphQL surfaces share the single /gql endpoint at api.alpha-sense.com and the same OAuth 2.0 + x-api-key authentication as the Agent API; the Ingestion API is REST under /services/i/ingestion-api/v1/. Documented at https://developer.alpha-sense.com/api/getting-started.
  version: '1.0'
  contact:
    name: AlphaSense Developer Support
    url: https://developer.alpha-sense.com/
  termsOfService: https://www.alpha-sense.com/legal/
servers:
- url: https://api.alpha-sense.com
  description: AlphaSense SaaS API gateway
- url: https://{customerDomain}
  description: AlphaSense Private Cloud (customer-hosted)
  variables:
    customerDomain:
      default: customer.alpha-sense.cloud
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Search
  description: Document search across the AlphaSense corpus (500M+ documents).
paths:
  /gql:
    post:
      operationId: utilityGraphqlGateway
      summary: Execute An AlphaSense Utility GraphQL Operation
      description: Same /gql endpoint as the Agent API; pick the Utility surface via the GraphQL operation name (`search`, `companies`, `brokers`, `watchlists`, `trends`, `user`, `downloads`).
      tags:
      - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLRequest'
      responses:
        '200':
          description: GraphQL response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLResponse'
        '401':
          description: Missing or invalid bearer token / API key.
        '429':
          description: Rate or credit limit exceeded.
components:
  schemas:
    GraphQLResponse:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLError'
    GraphQLError:
      type: object
      properties:
        message:
          type: string
        path:
          type: array
          items:
            type: string
        extensions:
          type: object
          additionalProperties: true
    GraphQLRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
        variables:
          type: object
          additionalProperties: true
        operationName:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: AlphaSense API Getting Started
  url: https://developer.alpha-sense.com/api/getting-started
